In [2]:
import numpy as np
import pandas as pd
df=pd.read_csv('../DuLieu/emails.csv')
data=df.fillna('')
data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
data.head()
X=data['Message']
Y=data['Category']
data.groupby('Category').describe()

               Message         \
                 count unique
Category
ham               4825   4516
spam               747    641
{"mode":"full"       1      1


                                                              top freq
Category
ham                                        Sorry, I'll call later   30
spam            Please call our customer service representativ...    4
{"mode":"full"                                    isActive:false}    1